# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

# NuGet
*.nupkg
project.assets.json
project.nuget.cache
*.csproj.nuget.*

# ASP.NET
staticwebassets/
wwwroot/lib/

# Docker
.env

# OS
.DS_Store
Thumbs.db
